@page "/ordenes/crear"
@inject NavigationManager navigationManager
@inject IHttpService http
<h3>Nueva orden</h3>

<OrdenFormulario onValidSubmit="GrabarNuevo" Orden="orden" onCancel="Cancelar"/>

@code {
    private Orden orden = new();
    private async Task GrabarNuevo()
    {
        var httpRespuesta = await http.Post<Orden>("api/ordenes", orden);
        @*
        Console.WriteLine($"Graba{orden.Producto}");
        *@
    if (httpRespuesta.Error)
    {
        var body = await httpRespuesta.GetBody();
    }
    navigationManager.NavigateTo("/ordenes");
}
private void Cancelar()
{
    navigationManager.NavigateTo("/ordenes");
}
}


